<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% if user.is_authenticated %}
            <!-- Hello {{user.username}} -->
            <h2>Here is the list of Items</h2>
            {% for item in items %}
                {{ item }}
                <div class="view overlay">
                    <img src="{{ item.image.url }}" class="card-img-top" 
                      alt="">
                </div>
               
            {% endfor %}
    

        {% else %}
            You are not loggedin
        {% endif %}

        

    </form>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>